# Tuples
*Bộ giá trị*

Bảng so sánh: 

| Đặc điểm            | List                     | Dictionary                        | Set                          | Tuple                           |
|---------------------|--------------------------|-----------------------------------|------------------------------|---------------------------------|
| **Cú pháp**         | `[item1, item2, ...]`    | `{'key1': value1, 'key2': value2}`| `{item1, item2, ...}`         | `(item1, item2, ...)` hoặc `item,` |
| **Loại Dữ liệu**    | Dãy (Sequence)           | Bản đồ (Mapping)                 | Tập hợp (Set)                 | Dãy (Sequence)                  |
| **Thứ tự** (Order)         | Có thứ tự (Ordered)      | Không có thứ tự (Unordered)       | Không có thứ tự (Unordered)   | Có thứ tự (Ordered)             |
| **Chỉ mục** (Indexing)        | Có (theo chỉ mục)        | Có (theo khóa)                   | Không có                     | Có (theo chỉ mục)              |
| **Giá trị trùng lặp** (Duplicate Values)| Cho phép                 | Giá trị có thể trùng lặp, khóa không thể trùng lặp | Không cho phép             | Cho phép                        |
| **Tính biến đổi** (Mutability)   | Có thể thay đổi (Mutable)| Có thể thay đổi (Mutable)        | Có thể thay đổi (Mutable)     | Không thể thay đổi (Immutable)  |
| **Sử dụng**         | Dùng cho một tập hợp các phần tử có thứ tự | Dùng cho các cặp khóa-giá trị   | Dùng cho các phần tử duy nhất | Dùng cho dữ liệu cố định        |

## Notes

* Dùng để lưu trữ nhiều giá trị trong một biến duy nhất giống như list và set ...
* Đặc điểm:
  * Có thứ tự
  * **Không thể thay đổi được**
* Được viết với `(` và `)` hoặc ` item,`

## Importance

* Đoạn code chạy nhanh hơn
* Các chuỗi bất biến thường được sử dụng cho dữ liệu cố định, như tên cột hoặc tọa độ trong các biểu đồ Matplotlib

## Ví dụ

In [2]:
job_skills = ('python', 'sql', 'statistics', 'tableau')

job_skills

('python', 'sql', 'statistics', 'tableau')

### Get item

Lấy một phần tử từ tupl bằng cách sử dụng chỉ mục. Để lấy phần tử đầu tiên từ một tupl, chúng ta sẽ truy cập nó tại chỉ mục `0`.

*Điều này tương tự như khi dùng list*

In [ ]:
job_skills[0]

'python'

### Slicing

In [ ]:
job_skills = ('python', 'sql', 'statistics', 'tableau')

job_skills[:2]

('python', 'sql')

### Add Items

Vì bộ giá trị (tuple) là bất biến (không thể thay đổi), nên nó không có phương thức `append()` tích hợp. Tuy nhiên, có hai cách để thực hiện:

In [12]:
job_skills.append('excel')

NameError: name 'job_skills' is not defined

**Cách 1: Chuyển tupl thành list**

* Đầu tiên, chuyển tupl thành list
* Sau đó, sử dụng phương thức `append()`
* Cuối cùng, chuyển list trở lại thành tupl

In [ ]:
job_skills_list = list(job_skills)

job_skills_list.append('excel')

job_skills_tuple = tuple(job_skills_list)

job_skills_tuple

('python', 'sql', 'statistics', 'tableau', 'excel')

**Cách 2: Thêm tupl vào tupl**
* Tạo một tupl mới chứa các phần tử cần thêm
* Thêm nó vào tupl hiện có

In [6]:
job_skills_new_tuple = ('r', 'postgresql',)
job_skills += job_skills_new_tuple

job_skills_new_tuple

('r', 'postgresql')

In [7]:
job_skills

('python', 'sql', 'statistics', 'tableau', 'r', 'postgresql')

Nếu mình chạy lại toàn bộ ô (dưới đây) với biến đúng được gọi ở cuối, mình sẽ vô tình thêm một bộ giá trị vào tuplhiện tại và tạo ra các phần tử trùng lặp. Điều này xảy ra vì mình đang thêm tuplvào tuplhiện tại với các dòng mã sau:

```python
job_skills_new_tuple = ('r', 'postgresql',)
job_skills += job_skills_new_tuple

In [ ]:
job_skills_new_tuple = ('r', 'postgresql',)
job_skills += job_skills_new_tuple

job_skills

('python',
 'sql',
 'statistics',
 'tableau',
 'r',
 'postgresql',
 'r',
 'postgresql')

### Join()

Đối với list phương thức `.join` được sử dụng để nối một chuỗi các chuỗi lại với nhau bằng một dấu phân cách cụ thể. Dể sử dụng cần thêm một dấu phân cách cụ thể (ví dụ: `', '`) giữa mỗi phần tử trong quá trình nối.

Đối với tuple, thì nó sẽ kết hợp nhiều chuỗi từ một tupl.

In [8]:
skills = ('Python', 'SQL', 'Excel')

In [ ]:
print(f'I have these skills: {", ".join(skills)}')

I have these skills: Python, SQL, Excel

### Remove Items

Vì tuple là **không thể thay đổi** , nên không thể xóa phần tử trong đó. Tuy nhiên, mình lại có thể sử dụng một cách giải quyết tương tự như ta đã làm khi thay đổi và thêm phần tử vào tupl.

In [10]:
skills.remove('Excel')

AttributeError: 'tuple' object has no attribute 'remove'

#### Remove()

Chuyển tupl thành danh sách, xóa phần tử bằng phương thức `remove()`, và sau đó chuyển lại thành tupl.

In [ ]:
#chuyển về list
job_skills_remove = list(job_skills)

job_skills_remove.remove('tableau')
 #chuyển về lại tupl
job_skills_tuple = tuple(job_skills_remove)

job_skills_tuple

('python', 'sql', 'statistics', 'r', 'postgresql', 'r', 'postgresql')

#### Del

Hoặc có thể sử dụng từ khóa `del` để xóa toàn bộ tupl. Nếu ta cố gắng hiển thị `job_skills` sau khi xóa nó, sẽ xuất hiện.  lỗi. có nghĩa là tupl này đã bị xóa mất khỏi dòng code

In [11]:
del job_skills
job_skills

NameError: name 'job_skills' is not defined

## range()

list, dict, set, tupl không phải là các kiểu dữ liệu container duy nhất.

Hàm `range()` tạo ra một chuỗi số. Nó thường được sử dụng để lặp qua một số lần cụ thể trong các vòng lặp `for`.

In [13]:
range(5)

range(0, 5)

## Notes:
* `range()` không phải là một tuple, mà là một kiểu dữ liệu riêng; nhưng nó rất gần và ngắn gọn

In [ ]:
type(range(5))

range

Hãy xem bên trong đối tượng này bằng cách chuyển nó thành một tuple.

In [ ]:
tuple(range(5))

(0, 1, 2, 3, 4)

Cú pháp: Hàm `range()` có thể được gọi với một, hai hoặc ba tham số:
* `range(stop)`: Tạo ra các số từ 0 đến stop - 1 
* `range(start, stop)`: Tạo ra các số từ start đến stop - 1
* `range(start, stop, step)`: Tạo ra các số từ start đến stop - 1 với bước nhảy step

In [ ]:
list(range(2,5))

[2, 3, 4]

In [15]:
list(range(0, 50, 2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]